*{
    font-family: Quicksand;
}

.menu {
    font-family: Quicksand;
    font-size: 18px;
    font-style: normal;
    line-height: 22.5px;
    color: #002E6D;

}

#MainContianer {
    width: 1707px;
    height: 594.45px;
    margin-top: 87.45px;
    background-image: url("./assets/Background-Container.png");

}

#MainContianer img {
    margin-left: 800px;
    margin-top: 42.17px;
    transform: matrix(-1, 0, 0 1, 0, 0);
    
}

#MainContianer #caption-container {
    margin-left: 156px;
    margin-top: -250px;
    position: relative;
}
#MainContianer h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    font-style: normal;
    color: #002E6D;
}

#MainContianer h2 {
    color: #002E6D;
    font-size: 36px;
    line-height: 45px;
    font-style: normal;
}

#MainContianer p {
    font-family: Monserrat !important;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 46, 109, 0.75);
}

#search-container #search-box{
    width: 544px;
    height: 55px;
    margin-left: 380px;
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid #002E6D;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 46, 109, 0.15);
    border-radius: 50px;
}
#search-container #search-box::-webkit-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: rgba(0, 46, 109, 0.6);
    text-align: center;
    opacity: 50%;
}
#search-container img {
    position: relative;
    left: 66.18px;
    top: -75px;
}

#container-info{
    position: absolute;
    left: 352px;
    top: 549px;
    width: 736px;
    height: 140px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#container-info #school1{
    position: relative;
    height: 96px;
    width: 96px;
    left: -750px;
    top: -20px;
}

#container-info #school1-caption {
    position: relative;
    left: 170px;
    top: -110px;

}
#school1-caption h3 {
    font-family: Roboto !important;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #002E6D;

}
#school1-caption p{
    font-family: Montserrat !important;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 46, 109, 0.75);
}

#container-info #school2 {
    position: relative;
    width: 130px;
    height: 106px;
    left: -450px;
    top: -260px;
}

#container-info #school2-caption {
    position: relative;
    left: 500px;
    top: -355px;

}

#school2-caption h3 {

    font-family: Roboto !important;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #002E6D;
}
#school2-caption p {
    font-family: Montserrat !important;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 46, 109, 0.75);
}

#illustrasi1 img {
    position: absolute;
    right: 1100px;
    top: 415px;
}

#illustrasi2 img {
    position: absolute;
    left: 450px;
    top: 136px;
}

#illustrasi3 img {
    position: absolute;
    left: 470px;
    top: 567px;
}

/* CSS Code by Finda */
#container-rekomendasi-kampus{
    background: #0000;
    position: absolute;
    left: 160px;
    top: 749px;
    width: 800px;
    height: 400px; 
}

#container-rekomendasi-kampus .caption-container{
    background: linear-gradient(180deg, #2978E3 0%, #4493FF 100%);
    border-radius: 8px;
    width: 393px;
    height: 400px;
    position: absolute;
}

#container-rekomendasi-kampus .caption-container h1{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    position: absolute;
    width: 291px;
    height: 120px;
    left: 25px;
    top: 32px;
    color: #FFFFFF;
}

#container-rekomendasi-kampus .caption-container p{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    position: absolute;
    left: 25px;
    top: 175px;
    height: 100px;
    color: #FFFFFF;
}

#container-rekomendasi-kampus .caption-container .btn{
    position: absolute;
    width: 348px;
    height: 53px;
    left: 20px;
    font-size: 20px;
    top: 310px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
#container-rekomendasi-kampus .pilihan-kampus h4 {
    position: absolute;
    top: 10px;
    left: 415px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #14375E;
}

#container-rekomendasi-kampus .pilihan-kampus .btn{
    position: absolute;
    top: 10px;
    width: 134px;
    height: 27px;
    left: 990px;
    background: #F4F9FC;
    border-radius: 10px;
}

#container-rekomendasi-kampus .card{
    position: absolute;
    width: 500px;
    height: 350px;
    left: 400px;
    top: 50px;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#container-rekomendasi-kampus .img-responsive-l{
    position: absolute;
    width: 72px;
    height: 72px;
    left: 19px;
    top: 120px;
}

#container-rekomendasi-kampus .img-responsive-g{
    position: absolute;
    width: 224px;
    height: 150px;
    left: 11px;
    top: 12px;
    border-radius: 10px;    
}
#akreditasi{
    position: absolute;
    width: 114px;
    height: 42px;
    left: 121px;
    top: 168px;
    font-weight: bold;
    border-radius: 10px;
    color: #FFFFFF;
}

#container-rekomendasi-kampus h5{
    position: absolute;
    width: 194px;
    height: 23px;
    left: 11px;
    top: 215px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;    
    color: #002E6D;
}

.card-body p{
    position: absolute;
    /* width: 45px;
    height: 18px; */
    left: 38px;
    top: 245px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 46, 109, 0.7);
}
#container-rekomendasi-kampus .i{
    position: absolute;
    /* width: 45px;
    height: 18px; */
    left: 38px;
    top: 260px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 46, 109, 0.7);
}


#container-rekomendasi-kampus .medal{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    top: 245px;
}
#container-rekomendasi-kampus .medal-i{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    top: 259px;
}
#container-rekomendasi-kampus #more {
    position: absolute;
    width: 224px;
    height: 46px;
    left: 11px;
    top: 289px;
    background: #002E6D;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

#container-rekomendasi-kampus .img-responsive-f{
    position: absolute;
    width: 40px;
    height: 33.17px;
    left: 184px;
    top: 21px;
}

#container-rekomendasi-kampus .img-responsive{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 189.5px;
    margin-left: 5px;
    top: 30px;
    border-radius: 5px;
}

#container-rekomendasi-kampus .card-2{
    position: absolute;
    width: 500px;
    height: 350px;
    left: 665px;
    top: 50px;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#container-rekomendasi-kampus .card-3{
    position: absolute;
    width: 500px;
    height: 350px;
    left: 930px;
    top: 50px;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#container-rekomendasi-kampus .card-4{
    position: absolute;
    width: 500px;
    height: 350px;
    left: 1197px;
    top: 50px;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.img-responsive-s{
    position: absolute;
    width: 52px;
    height: 52px;
    left: 83px;
    top: 120px;
}
#more_search{
    position: absolute;
    width: 224px;
    height: 46px;
    left: 11px;
    top: 200px;
    background: #002E6D;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}
.card-body .btn{
    background: #002E6D;
}

.horizontal-scroll-wrapper squares{
    max-height: 355px; 
    display: flex;
    overflow-x: auto;
    left: 400px;
    top: 200px;
    /* 
    line-height: 0px;
    width: 100px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-100px);
    transform-origin: right top; */
}

.horizontal-scroll-wrapper ::-webkit-scrollbar{
    width: 10px;
}

.horizontal-scroll-wrapper .card .card-2 .card-3 .card-4 {
    min-width: 500px;
    height: 350px;
    line-height: 350px;
    margin-right: 2px;
}


section {
    display: block;
    margin: 1rem 0;
    text-align: center;
    padding: 2rem 0;
    position: relative;
}

@media screen and (max-width:1200px){
    .col-lg-3 .col-6 .col-sm-6 {
        width: 40%;
    }
}

@media screen and (max-width:600px){
    .col-lg-3 .col-6 .col-sm-6 {
        width: 90%;
    }
}

#lokasi-kampus-terpopuler .container {
    width: 1100px;
    height: auto;
    padding-left: 15px;
    padding-right : 15px;
    margin-left: 140px;
    margin-right: auto;
    max-width: 1140x;
    overflow: hidden;
    margin-top: 470px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap; */
}

#lokasi-kampus-terpopuler .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
    justify-content: space-around;
    flex-flow: wrap;
}

#lokasi-kampus-terpopuler .container .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

#lokasi-kampus-terpopuler .title-lokasi-kampus {
    margin-bottom: 2rem;
}

#lokasi-kampus-terpopuler .title-lokasi-kampus h3 {
    position: absolute;
    width: 100%;
    height: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #14375E;
}

#lokasi-kampus-terpopuler .col-lg-3 .col-6 .col-sm-6 {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}
.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; 
}

#lokasi-kampus-terpopuler .container .row .card-lokasi-kampus #title{
    width: 92px;
    height: 30px;
    left: 120px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 40px;
    margin: 5px auto;
    left: 90px;
}


.card-lokasi-kampus #jakarta #surabya #yogyakarta #bandung #medan #semarang #malang #bali{
    position: relative;
    width: 250px;
    height: 110px;
    left: 183px;
    top: 19px;    
    padding: 10px;   
}

/* @media screen and (max-width:1250px){
    #lokasi-kampus-terpopuler .container .row .card-lokasi-kampus{
        width: 250px;
        padding: 0;
    }
} */

/* .card-lokasi-kampus #jakarta #surabya #yogyakarta #bandung #medan #semarang #malang #bali :hover {
    opacity: 10;
} */

section #fitur-yang-tersedia{
    top: 500px;
}

#fitur-yang-tersedia .container-fluid {
    background: #F3F7FC;
    height: auto;
    width: 100%;
    margin-top: 0px;
}

#fitur-yang-tersedia .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
    justify-content: space-around;
    flex-flow: wrap;
}

#fitur-yang-tersedia .title-fitur-yang-tersedia {
    margin-bottom: 2rem;
    margin-top: 10px;
}

#fitur-yang-tersedia .title-fitur-yang-tersedia h4{
    position: relative;
    width: 100%;
    height: 25px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #14375E;
}

#fitur-yang-tersedia .col-6 .col-md-4 {
    position: relative;
    /* padding-right: 5px;
    padding-left: 5px; */
    width: 100%;
    left: 100px;
    
}

#fitur-yang-tersedia .card-fitur {
    position: relative;
    width: 300px;
    height: 200px;
    left: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

#fitur-yang-tersedia .card-fitur #title{
    position: relative;
    width: 71px;
    height: 23px;
    left: 115px;
    top: 18px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    color: #002E6D;
}

#fitur-yang-tersedia .card-fitur .kuliah .beasiswa .lowongan .seminar .lomba .utbk {
    position: relative;
    width: 191px;
    height: 146px;
    left: 228px;
    top: 1712px;
}


#footer-container {
    position: absolute;
    width: 1440px;
    height: 404px;
    left: 0px;
    top: 4026px;
    
    background: #14375E;
}

#footer-title-container{
    position: absolute;
    width: 173px;
    height: 84px;
    left: 160px;
    top: 4046px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

#footer-subtitle-container{
    position: absolute;
    width: 290px;
    height: 67px;
    left: 161px;
    top: 4145px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

#footer-address-container{
    position: absolute;
    width: 195px;
    height: 142px;
    left: 161px;
    top: 4232px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

#footer-name-company{
    position: absolute;
    width: 140px;
    height: 28px;
    left: 543px;
    top: 4099px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    
    color: #FFFFFF;
}

#footer-menu-container{
    position: absolute;
    width: 88px;
    height: 120px;
    left: 544px;
    top: 4145px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

#footer-name-feature{
    position: absolute;
    width: 55px;
    height: 28px;
    left: 800px;
    top: 4099px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

#footer-feature-container{
    position: absolute;
    width: 149px;
    height: 146px;
    left: 801px;
    top: 4145px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

#footer-name-other{
    position: absolute;
    width: 92px;
    height: 28px;
    left: 1088px;
    top: 4099px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

#footer-other-container{
    position: absolute;
    width: 52px;
    height: 42px;
    left: 1089px;
    top: 4145px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

#footer-copyright{
    position: absolute;
    width: 194px;
    height: 17px;
    left: 623px;
    top: 4398px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;
}
/* Final CSS by Finda */
